#Homepage {
    display: flex;
}

.HomepageSideNavbar-container {
    position: fixed;
    width: 400px;
    height: 100vh;
}

.HomepageContent-container {
    width: 100%;
    border: 1px solid red;
    align-items: center;
    height: 1000rem;
    margin-left: 400px;
}
