#authentication {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f4f7;
    font-family: "Poppins", sans-serif;
}

.formAuthentication {
    width: 400px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    background-color: #fcfcfd;
}

.formAuthentication-header {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.formGreeting {
    font-weight: 600;
    position: relative;
    top: 20px;
}

.formDesc {
    position: relative;
    top: 15px;
    color: rgb(17, 17, 17, 0.48);
}

.formAuthentication-body {
    background-color: #f2f4f7;
    border-radius: 24px;
    height: auto;
}

.formAuthentication-body-container {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
}

.formAuthentication-input {
    width: 340px;
    height: 44px;
    border: 1px solid rgb(17, 17, 17, 0.48);
    border-radius: 6px;
}

.formAuthentication-input-secondLayer {
    margin-top: 10px;
}

.formAuthenticationSubmit-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formAuthenticationSubmit-container button {
    width: 340px;
    height: 42px;
    border-radius: 6px;
    border: 1px solid rgb(17, 17, 17, 0.48);
}

.anotherAuth {
    padding-top: 10px;
}

.anotherAuthLink {
    position: relative;
    left: 10px;
    text-decoration: none;
}

.formAuthentication-date {
    width: 340px;
    height: 44px;
    border: 1px solid rgb(17, 17, 17, 0.48);
    border-radius: 6px;
}

.formAuthentication-date:not(.has-value):before {
    color: rgb(14, 13, 13, 0.4);
    content: attr(placeholder);
    padding-right: 10px;
}

.formAuthentication-select {
    width: 340px;
    height: 44px;
    border: 1px solid rgb(17, 17, 17, 0.48);
    border-radius: 6px;
}
