@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: "Poppins", sans-serif; */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}

#rootParent {
    width: 100vw;
    height: 100vh;
}

#notfound-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
